.kind_header{
	height: .44rem;
    line-height: .44rem;
    position: relative;
    overflow: hidden;
    background: #fff;
    color: #222;
    margin-bottom: .1rem;
    h1{
    	font-size: .16rem;
    	text-align: center;
    	font-weight:400;
    }
}